@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.app{
  min-height: 100VH;
  display: grid;
  background:#e2d4ff ;
  
}
.intro-app{
  justify-content: center;
  display: flex;
  gap: 10px;
  align-items: center;
}
.app h2{
  

  text-align: center;
  color: palevioletred;
}
.intro-app img{

 width: 60px;
 height: 60px;
 border-radius: 999px;
 object-fit: cover;
}
/* 📱 Giao diện cho điện thoại */
@media screen and (max-width: 600px) {
  .app{
    height: 100%;
 
  display: grid;
  background:#e2d4ff ;
  
}
  .intro-app {
    height: 80px;
    gap: 8px;
  }

  .app .intro-app h2 {
    font-size: 22px; /* Giảm kích thước chữ */
    text-align: center;
  }

  .app .intro-app img {
    width: 40px; /* Ảnh nhỏ hơn một chút */
    height: 40px;
  }
}